#title{
  margin: auto;
  width: 120px;
  height: 120px;
  background-color: #f0db4f;
  font-size: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: "Noto Sans JP";
  color: #30312E;
}